/* ---------------------------------------------------
    UNIVERSAL STYLES
----------------------------------------------------- */

body {
  background-color: #F0ECE1;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  color: #F0ECE1;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #CA4A41;
  text-decoration: none;
}

a:visited {
  color: #59604F;
  text-decoration: none;
}

a:active {
  color: #59604F;
  text-decoration: none;
}

.btn {
  color: #000;
}

.row {
  padding-bottom: 40px;
}

.pcut {
  font-weight: lighter;
  font-style: normal;
  font-size: 10px;
  padding-top: 5px;
}

/* ---------------------------------------------------
    NAV STYLE
----------------------------------------------------- */
.hamburger {
  position: fixed;
  font-size: 40px;
  top: 42px;
  right: 50px;
  padding: 8px;
  font-family: 'Playfair Display', serif;
  color: #fff;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,1);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* ---------------------------------------------------
    LANDING STYLE
----------------------------------------------------- */

.landing {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://s3.wp.wsu.edu/uploads/sites/609/2019/02/wheat-1188x792-1188x792.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.introText {
  top: 240px;
}
